.app {
  margin-bottom: 50px;
}

.tip {
  margin-right: 15px;
}

.scroll {
  overflow:auto;
  max-height:300px;
}

.env {
  table-layout: fixed;
  width: 100%;
 
}

.env td {
  word-wrap: break-word;
}

.link {
  color: #3273dc !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.link:hover {
  color: #000 !important;
}

[v-cloak] {
  display: none;
}