.app {
  margin-bottom: 50px;
}

.scroll {
  overflow:auto;
  max-height:300px;
}

.link {
  color: #3273dc !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

.link:hover {
  color: #000 !important;
}

[v-cloak] {
  display: none;
}