.project-app {
  border-bottom: 1px solid #dbdbdb;
}

.app-table {
  width: 100%;
}

.instance {
  height: 200px;
}

.can-drop {
  filter: brightness(50%) !important;
}

.instance:hover {
  filter: brightness(110%) !important;
}

.cell:hover {
  filter: brightness(110%) !important;
}

.text {
  height: 120px;
  overflow-y:auto
}

.scroll {
  overflow:auto;
  max-height:300px;
}

.counter {
  width: 50px !important;
}

[v-cloak] {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.toggle-collapse {
  width: 20px; 
}