<!DOCTYPE html>
<html class="has-background-white-ter">
<head>
  <title>uDeploy</title>

  <link rel="stylesheet" type="text/css" href="/component/header/bar.css?auto-version=14419" />
  <link rel="stylesheet" type="text/css" href="/pages/users/index.css?auto-version=14419"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="users" v-cloak>
        <header-bar v-bind:user="user" v-bind:page="page" v-bind:config="config"></header-bar>

        <div class="container box is-family-primary">
          <div class="content">
            <div v-if="!isLoading" class="is-pulled-right">
              <button class="button is-success" :disabled="!canSave" @click="save">Save</button>
              <button class="button is-warning" @click="cancel">Cancel</button>
            </div>
            <h4><a href="/apps">APPS</a> > USERS</h4> 
            <hr />
           
            <alert-banner v-bind:alerts="alerts"></alert-banner>

            <progress v-if="isLoading" class="progress is-small is-dark" max="100"></progress>
           
            <div v-if="!isLoading">
              <table>
                  <tr><th>Email</th><th></th><th>Role</th><th>Apps</th><th class="has-text-centered">Admin</th><th></th></tr>
                  <template v-for="(usr, index) in users">
                    <tr>
                      <td class="name">
                          <div class="field"> 
                            <input class="input" type="text" v-on:change="didEdit(usr.id);" v-model="usr.email" v-on:keyup="validateField($event, '[A-Za-z0-9._%+-]+@[A-Za-z0-9_%+-]+[\.]{1}[A-Za-z]+', 'REQUIRED: Email', index)" title="User or role email address. The OAuth provider may be case sensitive when attempting the authentication." placeholder="user@domain.com">
                          </div>
                      </td>
                      <td>
                          <div class="field"> 
                            <button class="button is-info" @click="usr.showPolicy ? usr.showPolicy = false : usr.showPolicy = true">Policy</button>
                          </div>
                      </td>
                      <td>
                        <div v-if="isUserMissing(getRole(usr))" class="has-text-danger">   
                          {{ formatRole(usr) }}  
                          <span class="icon is-small" title="Role does not exist.">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                        <div v-else>{{ formatRole(usr) }}</div>
                      </td>
                      <td>
                        {{ Object.keys(listUserApps(usr)).length }}
                      </td>
                      <td class="has-text-centered">
                          <label class="checkbox">
                              <input type="checkbox" v-on:change="didEdit(usr.id)" v-model="usr.admin">
                          </label>
                      </td>
                      <td>
                          <button class="button is-pulled-right" :disabled="!user.admin || isInherited(usr.email)" @click="deleteUser(index)" title="To delete, users cannot be inheriting this user's permissions.">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                          </button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="6" v-if="usr.showPolicy">
                        <article class="message is-primary">
                            <div class="message-header">
                              Policy
                            </div>
                            <div class="message-body">
                                <div class="field">
                                  <label class="label">Other Policies</label>
                                  <div class="control">
                                      <div class="select">
                                        <select v-model="usr.selectedRole">
                                          <option value="">None</option>
                                          <option v-for="u in sortUsers(users)" :value="u.email">{{ u.email }}</option>
                                        </select>
                                      </div>
                                      <button title="Inherit policy allowing user's policy to override any permissions." class="button" :disabled="!user.admin" @click="inheritPolicy(usr)">Inherit</button>
                                      <button title="This will replicate the selected user's policy overwriting the current policy." class="button is-danger" :disabled="!user.admin || usr.selectedRole == ''" @click="replicatePolicy(usr)">Replicate</button>
                                      <p>
                                        <div v-if="usr.errorMessage && usr.errorMessage.length" class="box has-background-danger has-text-white">{{ usr.errorMessage }}</div>
                                      </p>
                                  </div>
                                </div>
                                Configure user's policy.
                                <table>
                                  <tr><th class="has-text-centered"></th><th colspan="2"></th><th></th><th></th><th></th></tr>
                                  <template v-for="a in sortApps(usr.policy)">
                                    <tr :class="{ 'has-background-light': a.view }">
                                      <td class="has-text-centered">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="a.view" v-on:change="didEdit(usr.id)">
                                        </label>
                                      </td>
                                      <td>
                                        {{ a.name }}
                                      </td>
                                      <td>
                                      
                                      </td>
                                      <td class="has-text-centered">
                                        <b v-if="a.view && a.instances.length">Edit</b>
                                      </td>
                                      <td class="has-text-centered">
                                        <b v-if="a.view && a.instances.length">Scale</b>
                                      </td>
                                      <td class="has-text-centered">
                                        <b v-if="a.view && a.instances.length">Deploy</b>
                                      </td>
                                    </tr>
                                    <tr v-if="a.view" v-for="i in sortInstances(a.instances)" :class="{ 'has-background-light': a.view && (i.edit | i.scale | i.deploy) }">
                                      <td colspan="2">
                                      </td>
                                      <td>
                                        {{ i.name }} 
                                      </td>
                                      <td class="has-text-centered">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="i.edit" v-on:change="didEdit(usr.id)">
                                        </label>
                                      </td>
                                      <td class="has-text-centered">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="i.scale" v-on:change="didEdit(usr.id)">
                                        </label>
                                      </td>
                                      <td class="has-text-centered">
                                        <label class="checkbox">
                                            <input type="checkbox" v-model="i.deploy" v-on:change="didEdit(usr.id)">
                                        </label>
                                      </td>
                                    </tr>
                                  </template>
                                </table>
                            </div>
                        </article>
                      </td>
                    </tr>
                  </template>
                  <tr><td></td><td></td><td></td><td></td><td></td>
                    <td>
                      <button title="Add user." class="button is-pulled-right" :disabled="!user.admin" @click="addUser()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                      </button>
                    </td>
                </tr>
              </table>
              
              <alert-banner v-bind:alerts="alerts"></alert-banner>

              <div v-if="!isLoading" class="has-text-centered">
                <button class="button is-success" :disabled="!canSave" @click="save">Save</button>
                <button class="button is-warning" @click="cancel">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>

<script src="/component/header/bar.js?auto-version=14419" type="module"></script>
<script src="/component/alert/banner.js?auto-version=14419" type="module"></script>
<script src="/pages/users/index.js?auto-version=14419" type="module"></script>
