ENV=prod
URL=https://{{DOMAIN}}
CONSOLE_LINK=https://aws.amazon.com/
PRE_CACHE=true
DB_URI={{DB_CONNECTION_STRING}}
DB_NAME={{DB_NAME}}
OAUTH_CLIENT_ID={{CLIENT_ID}} 
OAUTH_CLIENT_SECRET={{CLIENT_SECRET}}
OAUTH_AUTH_URL={{AUTH_URL}}
OAUTH_TOKEN_URL={{TOKEN_URL}}
OAUTH_REDIRECT_URL={{REDIRECT_URL}}
OAUTH_SIGN_OUT_URL={{SIGN_OUT_URL}}
OAUTH_SESSION_SIGN=F1Li3rvehgcrF8DMHJ7OyxO4w9Y3D
OAUTH_SCOPES=openid,email
SQS_CHANGE_QUEUE=udeploy-prod-notification-queue.fifo
SQS_ALARM_QUEUE=udeploy-prod-alarm-queue
SQS_S3_QUEUE=udeploy-prod-s3-queue
SNS_ALARM_TOPIC_ARN=arn:aws:sns:us-east-1:{{ACCOUNT_ID}}:udeploy-prod-alarms